#jobs-list{
    display: flex;
    flex-direction: column;
flex-wrap: wrap;
}

#job-application > ul > li{
    font-size: 0.6em;
    margin-top:  0.1em;
}

#job-application > ul > li >li{
    margin-top: 0px;
}

#job-application > ul{
    margin-top: 0px;
}

h5{
    margin-top: 0.5em;
}